{% extends main.html %}

{% block content %}
<h3>Example</h3>

<div class="container">
    <form method="post" action="/example">
        <fieldset>
            <label>Operand 1</label>
            <input type="text" name="operand1" value="" size="80">
            <br/>
            <br/>
            <label>Operand 2</label>
            <input type="text" name="operand2" value="" size="80">
            <br/>
            <br/>
            <label>Operator</label>
            <select name="operator">
                <option value="addition">Addition</option>
                <option value="soustraction">Soustraction</option>
                <option value="produit">Produit</option>
                <option value="division">Division</option>
            </select>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary">Process</button>
        </fieldset>
    </form>
</div>
{% end %}