{% extends main.html %}

{% block content %}
<h3>Sign in</h3>

<div class="container">
    <form method="post" action="/signin">
        <fieldset>
            <label>Username</label>
            <input type="text" name="username" value="" size="80">
            <br/>
            <label>Password</label>
            <input type="password" name="password" value="" size="80">
            <br/>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </fieldset>
    </form>
</div>
{% end %}